body{
  
  background-color:darkseagreen;
}

#left-container{
  display: flex;
  flex-wrap: wrap;
  width: 900px;
  margin-top: 100px;
  
  float: left;
}

.coolTags {
	background-color:#44c767;
	border-radius:28px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:24px;
	padding:24px 42px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}
.coolTags:hover {
	background-color:#5cbf2a;
}
.coolTags:active {
	position:relative;
	top:1px;
}

.cardOne:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.cardOne {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 50%;
  height: 50%;
  display: flex;
  font-size: x-large;
  justify-content:center
}

.cardOne:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.cardOne {
  background-color: rgba(228, 212, 228, 0.2);
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 50%;
  height: 50%;
  display: flex;
  font-size: x-large;
  justify-content:center
}

#right-container{
  display: flex;
  width: 810px;
  float: right;
  height: 800px;

  flex-wrap: wrap;
}

#header{
  margin-bottom: 10px;
  flex-direction: row;
  width:100%;
  display: flex;
 justify-content: space-between;
 font-size: xx-large;
 

}

.container{
  display: flex;
  justify-content: space-between;
  width: 60%;
}


#modal-container{
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

*{
  box-sizing: border-box;
}

body{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
}

.popup{
  background-color: #47a386;
  border: 0;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
  color: #fff;
  font-size: 14px;
  padding: 10px 25px;
}

#modal{
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
  background-color: #fff;
  border-radius: 5px;
  box-shadow: #47a386;
}

.tutorial{
  background-color: #47a386;
  border: 0;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
  color: #fff;
  font-size: 14px;
  padding: 10px 25px;
}

.tutorial:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.tutorial{
  display: flex;
align-content: center;
}